/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 @require '~vuepress-plugin-tabs/dist/themes/default.styl'

.home .hero img
  max-width 450px!important

.sidebar
  width: 15rem;

.page
  padding-left: 15rem;

div.theme-default-content:not(.custom)
    max-width: 100%;

div.page-nav
  max-width: 100%;

footer.page-edit
  max-width: 100%;

.parent
  display: flex;
  flex-wrap: wrap;

.left
  width: 55%;
  padding: 10px;
  position: sticky;
  top: 3.6rem;
  flex-grow: 1;
  align-self: flex-start;

.right
  width: 40%;
  padding: 10px;
  position: sticky;
  top: 3.6rem;
  flex-grow: 1;
  align-self: flex-start;