/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 @require '~vuepress-plugin-tabs/dist/themes/default.styl'

.home .hero img
  max-width 450px!important

div.theme-default-content:not(.custom)
    max-width: 100%;

div.page-nav
  max-width: 100%;

.parent
  display: flex;
  flex-wrap: wrap;

.left
  width: 55%;
  display: block;
  padding: 10px;

.right
  width: 40%;
  display: block;
  padding: 10px;